apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 32.1.1
    helm:
      values: |
        service:
          type: NodePort

        ports:
          web:
            port: 80
            nodePort: 30080
          websecure:
            port: 443
            nodePort: 30443
          traefik:          
            port: 9000
            expose: true
            exposedPort: 9000

        ingressClass:
          enabled: true
          isDefaultClass: false
          name: traefik

        providers:
          kubernetesIngress:
            enabled: true
            publishedService:
              enabled: true

        deployment:
          kind: Deployment
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
