# traefik-app.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: "v37.2.0" # REQUIRED: Helm chart version
    helm:
      releaseName: traefik
      values: |
        image:
          repository: traefik
          tag: "v3.5"


        service:
          enabled: true
          type: NodePort
          spec:
            externalTrafficPolicy: Local
          nodePorts:                 
            web: 32080               # <-- maps to kind host 80
            websecure: 32443         # <-- maps to kind host 443  

        ingressClass:
          enabled: true
          isDefaultClass: true
          name: traefik

        providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true
            
        ports:
          web:
            port: 80
            expose:
              default: true
          websecure:
            port: 443
            expose:
              default: true
            tls:
              enabled: true
        logs:
          general:
            level: INFO
        resources:
          requests: { cpu: 50m, memory: 64Mi }
          limits:   { cpu: 500m, memory: 256Mi }
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
